:root {
    --black: #0c0c0c;
    --black2: #141414;
    --white: #fffcf2;
    --red: #e54b4b;
    --lightred: #f0c1c1;
    --blue: #4282f8;
    --grey: #222222
  }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(99, 98, 98);
border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(78, 78, 78); 
}

@media (max-width : 711px){
    .chat-holder{
        height: 420px;
    }
    .rooms{
        height: 350px;
        width: 40%;
        margin-right: 5px;
        padding-top: 1px;
        padding-left: 1px;
        padding-right: 1px;
        margin-left: 5px;
    }
    .room{
        border-radius: 5px;
    }
    .add-friend{
        width: 40px;
        font-size: 20px;
    }
}
@media (min-width : 711px){
    .chat-holder{
        height: 580px;
    }
    .rooms{
        height: 764px;
        width: 20%;
        padding: 5px 5px 5px 5px;
    }
    .room{
        border-radius: 5px;
    }
    .add-friend{
        width: 60px;
        font-size: 32px;
    }
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
button{
    width: 80px;
    margin-top: 5px;
    margin-bottom: 22px;
}
.rooms{
    background-color: var(--grey);
    overflow: auto; 
    border-radius: 5px; 
}

.room{
    background-color: var(--black);
    color: var(--white);
    height: 50px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.highlight{
    border-style: solid;
    border-width: 1px;
    border-color: var(--blue)
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.room:hover{
    background-color: var(--black2);
    color: var(--white);
    text-decoration:none;
}

.chat-holder{
    overflow: auto;
    margin-bottom: 10px;
    padding-right: 8px;
}

.chat_container {
  background-color: var(--grey);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.chat_container hr {
    border: 1px solid var(--blue);
    margin: 0 0 0 0 ;
    margin-bottom: 10px;
}
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.add-friend{
    position: relative;
    float:right;
}

.chat_container::after {
  content: "";
  clear: both;
  display: table;
}

.chat_container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.chat_container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}