:root {
  --black: #0c0c0c;
  --white: #fffcf2;
  --red: #e54b4b;
  --lightred: #f0c1c1;
  --blue: #4282f8;
  --grey: #222222
}
@media (max-width : 871px) {
  .sidebar {
      padding-top: 15px;
 }
  .sidebar a {
      font-size: 18px;
 }
  .laptop{
      position: absolute;
      left: -999px;
 }
  .mobile-center{
      display: flex;
      position: relative;
 }
  .container-fluid{
      padding: 0px;
      
 }
  .sign-up-sheet{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 30px;
      padding-bottom: 30px;
      color: var(--white);
 }
  .page-footer{
      font-size: 15px;
 }
  .carousel-caption{
      padding-top: 0px;
      padding-bottom: 40px;
 }
  .img-holder{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
 }
  .image-1{
      width:100%;
      margin:0px;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
 }
  .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--white);
      word-wrap: break-word;
      width: 75%;
 }
  .big{
      font-size: 20px;
 }
  .small{
      font-size: 14px;
 }
  .flex-container {
      display: flex;
      flex-direction: column;
 }
 .trainer-details{
  font-size: 12px;
  }
  .trainer-name{
    font-size: 15px 
  }
 
  .mobile{
    width: 65px;
    display: flex;
    align-content: center;
    padding-left: 27px;
    padding-right: 20px;
  }
  .logo{
    position: absolute;
    top: 50%;
    left: 36%;
    margin: -16px 0 0 -16px; /* apply negative top and left margins to truly center the element */
  }
  .widget{
    margin-top: 30px;
  }
  .widget-holder{
    padding-top: 0px;
    margin-top: 0px;
  }
}
@media (min-width : 872px) {
  .container-fluid{
    margin-bottom: 10px;
  }
  .navbar{
      padding-left: 15%;
      padding-right: 15%;
 }
  .navbar-nav{
      padding-top: 10px;
 }
  .mobile{
      display: none;
 }
  .sign-up-sheet{
      padding-left: 25%;
      padding-right: 25%;
      padding-top: 30px;
      padding-bottom: 30px;
      color: var(--white);
 }
  .page-footer{
      font-size: 20px;
 }
  .carousel-caption{
      padding-top: 0px;
      padding-bottom: 100px;
 }
  .img-holder{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
 }
  .image-1{
      width:90%;
      margin:20px;
      border-radius: 10px;
 }
  .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-80%, -30%);
      color: var(--white);
      word-wrap: break-word;
      width: 45%;
 }
  .big{
      font-size: 30px;
 }
  .small{
      font-size: 20px;
      font-weight: 300;
 }
  .flex-container {
      margin-top: 100px;
      margin-bottom:100px;
      margin-left:40px;
      display: flex;
      flex-direction: row;
 }
}

@media (min-width : 1446px) {
.widget-holder{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
}

@media (max-width : 1446px) {
  .widget-holder{
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
 }
 .widget{
   margin-top: 30px;
 }
}
.image-1:hover{
  opacity: 60%;
}

main{
  background-color: var(--black);
  display: block;
  overflow: auto;
  color: var(--white) 
}
input{
  color: black;
}
.header-hr{
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid var(--blue);
}
.image{
  border-radius: 10px;
}
.birthday{
  padding: 10;
  font-size: 20px;
}
.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #222222;
  color: white;
  border: none;
}
.openbtn:hover {
  background-color: #444;
}
.widget {
  color: var(--white);
  border-radius: 10px;
  background-color: #222222;
  padding: 20px 20px 20px 20px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
.logo{
  color: var(--white);
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
/* Add padding to container elements */
.container {
  padding: 0px;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
      width: 100%;
 }
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
      width: 100%;
 }
}
/* The container */
.btn-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* On mouse-over, add a grey background color */
.btn-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.btn-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.btn-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.btn-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.flashes {
  border-radius: 5px;
  background-color: var(--red);
}
.message {
  color: var(--lightred);
}
.trainer-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trainer-widget {
  border-radius: 10px;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.trainer-image{
  width:100px;
  margin-right: 10px;
}
.profile-picture {
  width: 100%;
}
.trainer-info {
  width: 98%;
}
.flex-column{
  width: 100%;
}
.message-button{
  position: relative;
  height: 30px;
}
.mbtn{
  position: absolute;
  bottom: 0;
  right: 0;
}
.bi{
  position:relative; 
  bottom: -4px;
}

.trainer-options{
  display: flex;  
  flex-wrap: wrap;
}

@media (max-width : 1065px) {
  .trainer-holder {
    padding-left: 5%;
    padding-right: 5%;
  }
  .trainer-image{
    padding-top : 5px;
  }

  .trainer-widget{
    padding: 5px 5px 5px 5px;
  }

  .t-options{
    padding-left:5%;
    padding-right:5%;
    
  }
}

@media (min-width : 1065px) {
  .trainer-holder {
    padding-left: 30%;
    padding-right: 30%;
  }

  .trainer-image{
    padding-top : 18px;
  }

  .trainer-widget{
    padding: 10px 10px 10px 10px;
  }
  
  .t-options{
    padding-left:30%;
    padding-right:30%;
    padding-top: 30px;
  }
}

.trainer-options{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.f-column{
  padding-top:20px;
  display: flex;
  flex-direction: column;
}

.dropdown{
  background-color: var(--grey);
  border-color: var(--white);
  height: 40px;
}

.filter{
  width: 150px;
  
}

.filter-div{
  display: flex;
  padding-top: 20px;
}

@media (min-width : 711px){
  .tgoals{
    width: 75%;
  }

  .filter-div{
    justify-content: flex-end;
    padding-right: 10px;
  }
}

@media (max-width : 711px){
  .tgoals{
    width: 100%;
  }
  .filter-div{
    justify-content: center;
  }
}

