:root {
  --black: #0c0c0c;
  --white: #fffcf2;
  --red: #e54b4b;
  --lightred: #f0c1c1;
  --blue: #4282f8;
  --darkblue: #356cd1;
  --grey: #222222;
  --lightgrey: #3d3d3d;
}
@media (max-width : 871px) {
  .sidebar {
      padding-top: 15px;
 }
  .sidebar a {
      font-size: 18px;
 }
  .laptop{
      position: absolute;
      left: -999px;
 }
  .mobile-center{
      display: flex;
      position: relative;
 }
  .container-fluid{
      padding: 0px;
      
 }
  .sign-up-sheet{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 30px;
      padding-bottom: 30px;
      color: var(--white);
 }
  .page-footer{
      font-size: 15px;
 }
  .carousel-caption{
      padding-top: 0px;
      padding-bottom: 40px;
 }
  .img-holder{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
 }


html, body {
  max-width: 100%;
  overflow-x: hidden;
}
  .image-1{
      width:100%;
      margin:0px;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
 }
  .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--white);
      word-wrap: break-word;
      width: 75%;
 }
  .big{
      font-size: 20px;
 }
  .small{
      font-size: 14px;
 }

 .smaller{
  font-size: 14px;
  }
  
 .trainer-details{
  font-size: 12px;
  }
  .trainer-name{
    font-size: 15px 
  }
 
  .mobile{
    width: 65px;
    display: flex;
    align-content: center;
    padding-left: 27px;
    padding-right: 20px;
  }
  .logo{
    position: absolute;
    top: 50%;
    left: 36%;
    margin: -16px 0 0 -16px; /* apply negative top and left margins to truly center the element */
  }
  .widget{
    margin-top: 30px;
  }
  .widget-holder{
    padding-top: 0px;
    margin-top: 0px;
  }
}
@media (min-width : 872px) {
  .container-fluid{
    margin-bottom: 10px;
  }
  .navbar{
      padding-left: 13%;
      padding-right: 13%;
 }
  .navbar-nav{
      padding-top: 10px;
 }
  .mobile{
      display: none;
 }
  .sign-up-sheet{
      padding-left: 25%;
      padding-right: 25%;
      padding-top: 30px;
      padding-bottom: 30px;
      color: var(--white);
 }
  .page-footer{
      font-size: 20px;
 }
  .carousel-caption{
      padding-top: 0px;
      padding-bottom: 100px;
 }
  .img-holder{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
 }
  .image-1{
      width:90%;
      margin:20px;
      border-radius: 10px;
 }
  .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-80%, -30%);
      color: var(--white);
      word-wrap: break-word;
      width: 45%;
 }
  .big{
      font-size: 30px;
 }
  .small{
      font-size: 20px;
      font-weight: 300;
 }
 .smaller{
  font-size: 16px;
  font-weight: 300;
}
  .flex-container {
      margin-top: 100px;
      margin-bottom:100px;
      margin-left:40px;
      display: flex;
      flex-direction: row;
 }
}

@media (min-width : 1446px) {
.widget-holder{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.widget{
  width: 45%;
}
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
}

@media (max-width : 1446px) {
  .widget-holder{
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
 }
 .widget{
   margin-top: 30px;
 }
}
.image-1:hover{
  opacity: 60%;
}

main{
  background-color: var(--black);
  display: block;
  overflow: auto;
  color: var(--white) 
}
input{
  color: black;
}
.header-hr{
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid var(--blue);
}
.image{
  border-radius: 10px;
}
.birthday{
  padding: 10;
  font-size: 20px;
}
.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #222222;
  color: white;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.openbtn:hover {
  background-color: #444;
}
.widget {
  color: var(--white);
  border-radius: 10px;
  background-color: #222222;
  padding: 20px 20px 20px 20px;
}
.widget hr{
  border: 1px solid var(--blue)
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
.logo{
  color: var(--white);
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
/* Add padding to container elements */
.container {
  padding: 0px;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.error{
  color: white;
  border-radius: 5px; 
  background-color: #e54b4b;
  padding:5px 5px 5px 5px;
  margin-bottom: 20px;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
      width: 100%;
 }
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
      width: 100%;
 }
}
/* The container */
.btn-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* On mouse-over, add a grey background color */
.btn-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.btn-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.btn-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.btn-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.flashes {
  border-radius: 5px;
  background-color: var(--red);
}
.message {
  color: var(--lightred);
}
.trainer-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trainer-widget {
  border-radius: 10px;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.trainer-widget:hover{
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}
.trainer-image{
  width:100px;
  margin-right: 10px;
}
.profile-picture {
  width: 100%;
}
.trainer-info {
  width: 98%;
}
.flex-column{
  width: 100%;
}
.message-button{
  position: relative;
  height: 30px;
}
.mbtn{
  position: absolute;
  bottom: 0;
  right: 0;
}
.bi{
  position:relative; 
  bottom: -4px;
}

.trainer-options{
  display: flex;  
  flex-wrap: wrap;
}

@media (max-width : 1065px) {
  .trainer-holder {
    padding-left: 5%;
    padding-right: 5%;
  }
  .trainer-image{
    padding-top : 5px;
  }

  .trainer-widget{
    padding: 5px 5px 5px 5px;
  }

  .t-options{
    padding-left:5%;
    padding-right:5%;
    
  }
}

@media (min-width : 1065px) {
  .trainer-holder {
    padding-left: 30%;
    padding-right: 30%;
  }

  .trainer-image{
    padding-top : 18px;
  }

  .trainer-widget{
    padding: 10px 10px 10px 10px;
  }
  
  .t-options{
    padding-left:30%;
    padding-right:30%;
    padding-top: 30px;
  }
}

.trainer-options{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.f-column{
  padding-top:20px;
  display: flex;
  flex-direction: column;
}

.dropdown{
  background-color: var(--grey);
  border-color: var(--white);
  height: 40px;
}

.filter{
  width: 150px;
  
}

.filter-div{
  display: flex;
  padding-top: 20px;
}

.chat-btn{
  padding-left: 5%;
}

.room:hover {
  cursor: pointer;
}

@media (max-width : 711px){
  .tgoals{
    width: 100%;
  }
  .filter-div{
    justify-content: center;
  }
  
  .chatbox{
    padding-right: 0;
    padding-left: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .rooms{
    display: none;
    background-color: var(--grey);
    flex-direction: column;
  }
  .chat-btn{
    background-color: var(--lightgrey);
    border-radius: 5px;
    color: var(--white);
    display: initial;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 2px 2px var(--black);
  }
  .flex-row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .home-trainer{
    margin-bottom: 7px;
    width: 200px;
  }
  .home-trainer2{
    margin-bottom: 7px;
  }
  .add-friend{
    height: 50px;
    padding: 13px 5px 5px 8px;
    width: 100px;
  }
  .chat{
    width: 90%;
  }

  .dropdown-menu{
    width:100%
  }
  .session-request{
    bottom: 50px;
  }
  .session-request2{
    bottom: 40px;
  }
}
@media (min-width : 711px){
  .session-request{
    bottom: 60px;
  }
  .session-request2{
    bottom: 40px;
  }
  .tgoals{
    width: 72%;
  }
  .dropdown-menu{
    width: 400px;
  }

  .filter-div{
    justify-content: flex-end;
    padding-right: 10px;
  }
  .chatbox{
    padding-right: 20%;
    padding-left:  20%;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .chat{
    width: 70%;
  }
  .rooms{
    display: initial;
    background-color: --white;
    display: flex;
    flex-direction: column;
  }
  .chat-btn{
    display: none;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  

  .add-friend{
    height: 50px;
    padding: 10px 10px 10px 10px;
    width: 135px;
  }

  .home-trainer{
    width:300px
  }
}
.home-trainer{
    background-color: var(--lightgrey);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px var(--black);
}

.home-trainer2{
  background-color: var(--lightgrey);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 2px 2px var(--black);
}

.btn-right{
  position: relative;
  float: right;
  margin-left: 5px;
}

.add-friend{
  background-color: var(--blue);
  border-radius: 10px;
  margin-bottom: 30px;
}

.add-friend:hover{
  cursor: pointer;
  background-color: var(--darkblue);
}

table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {

  text-align: center;
  padding: 10px;
}


tr:nth-child(even) {
  background-color: var(--lightgrey);
}



table{
  background-color: var(--grey);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
}

.top-table{
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

.bottom-table{
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
}

:root {
  --gutter: 20px;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-rows: minmax(150px, 1fr);
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));

  list-style-type: none;
}

.items{
  background-color: var(--lightgrey);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 2px 2px var(--black);
}

tr:nth-last-child(1){
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(99, 98, 98);
border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(78, 78, 78); 
}

.chat-btn:hover{
  cursor: pointer;
}

.addFriend {
  display: none;
}

.request{
  width: 100px;
  align-self: end;
}

.dropdown-menu{
  background-color: var(--lightgrey);
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.dropdown-item{
  width:100%;
  color:var(--white);
  background-color: var(--grey);
  height: 70px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 15px 10px 10px 10px;
}

.btn-primary{
  background-color: var(--blue);
}

.friend-request{
  position: relative;
  float:right;
}


.session-request{
  position: relative;
  float:right;
  
}

.session-request2{
  position: relative;
  float:right;
  
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.friend-btn{
  height: 40px;
}

.center-btn{
  display: flex;
  justify-content: center;
}

@media (max-width : 800px){
  .hs{
    grid-template-columns: repeat(6, calc(85% - var(--gutter) * 2));
  }
  .friend-body{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .participant div:first-child {
    width: 240px;
    height: 180px;
    background-color: #ccc;
    border: 1px solid black;
  }
  .row2{
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width : 900px){
  .hs{
    grid-template-columns: repeat(6, calc(60% - var(--gutter) * 2));
  }
  .friend-body{
    padding-top: 15px;
    padding-left: 15%;
    padding-right: 15%;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .participant div:first-child {
    width: 480px;
    height: 360px;
    background-color: #ccc;
    border: 1px solid black;
  }
  .participant video {
    width: 100%;
    height: 100%;
  }
  .row2{
    flex-direction: row;
  }
}

@media (min-width : 1000px){
  .hs{
    grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
  }
  .friend-body{
    padding-top: 15px;
    padding-left: 30%;
    padding-right: 30%;
  }
  .flex-container {
    margin-top: 100px;
    margin-bottom:100px;
    margin-left:40px;
    display: flex;
    flex-direction: row;
  }
  .participant div:first-child {
    width: 480px;
    height: 360px;
    background-color: #ccc;
    border: 1px solid black;
  }

  .row2{
    flex-direction: row;
  }
}

.container2 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.participant {
  margin-bottom: 5px;
  margin-right: 5px;
}
.participant div {
  text-align: center;
}

.participant div:first-child {
  border-radius: 10px;
  background-color: var(--black);

}
.participant video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

progress{
  width: 70%;
  height: 30px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row2{
  display: flex;
  justify-content: space-evenly;
}

.row3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: var(--lightgrey);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--blue);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--darkblue);
  cursor: pointer;
}

.glyphicon-thumbs-up,
.glyphicon-thumbs-down{
  font-size: 20px;
  color: var(--blue);
}

textarea{
  color: var(--black);
  font-size: 17px;
  font-weight: 350;
}

.checked {
  color: orange;
}

.highlighted {
  border: 1px solid var(--blue);
}