<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sessions</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#7952b3" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />

    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header mobile-center">
                        <button class="openbtn mobile" onclick="openNav()">☰</button>
                        <h3 class="logo" href="#">FOREVER FIT</h3>
                    </div>
                    <ul class="nav navbar-nav laptop">
                        <li><a href="/">Home</a></li>
                        {% if (not current_user.isTrainer) %}
                            <li><a href="/TrainerSearch">Trainer Search</a></li>
                            <li><a href="/Friends">Friends</a></li>             
                        {% endif %}
                        <li><a href="/chats">Chats</a></li>
                        <li><a href="/TrainingSessions">Sessions</a></li> 
                    </ul>
                    <ul class="nav navbar-nav navbar-right laptop">
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr class="header-hr"/>
        </header>

        <main>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/SignUp">Home</a>
                {% if (not current_user.isTrainer) %}
                        <a href="/TrainerSearch">Trainer Search</a>
                        <a href="/Friends">Friends</a>           
                {% endif %}
                <a href="/chats">Chats</a>
                <a href="/TrainingSessions">Sessions</a>
                <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
            </div> 
            <div class="friend-body">
                <p id="count"></p>
                <div id="container" class="container2">
                    <div id="local" class="participant"><div></div><div>Me</div></div>
                    <!-- more participants will be added dynamically here -->
                </div>

                <form>
                    <input name="room_id" id="room_id" value="{{room_id}}" style="display: none;">
                    <input type="text" name=”username” id="username" value="{{user.username}}" style="display: none;">
                    <button id="join_leave">Join call</button>
                </form>
            </div>
    
            <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
            <script src="/static/js/video_chat.js"></script>
        </main>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>
    </body>
</html>