<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#7952b3" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header mobile-center">
                        <button class="openbtn mobile" onclick="openNav()">☰</button>
                        <h3 class="logo" href="#">FOREVER FIT</h3>
                    </div>
                    <ul class="nav navbar-nav laptop">
                        <li><a href="/">Home</a></li>
                        <li><a href="/TrainerSearch">Trainer Search</a></li>
                        <li><a href="/chats">Chats</a></li>
                        <li><a href="/TrainingSessions">Sessions</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right laptop">
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr class="header-hr"/>
        </header>

        <main>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/SignUp">Home</a>
                <a href="TrainerSearch">Trainer Search</a>
                <a href="/chats">Chats</a>
                <a href="/TrainingSessions">Sessions</a>
            </div>
            <div class="friend-body">
                <p onclick="hide()" class="add-friend small">+ Add Friend</p>
                <div class="big">Track your friends progress</div>
                <hr>
                <div id="myFriend" class="addFriend">

                </div>
                <table>
                    <tr class="top-table">
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Sessions</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Abdelrahman Elkabbany</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Humaid AlQassimi</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Euan Gordon</td>
                        <td>10</td>
                    </tr>
                    <tr class="bottom-table">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </main>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }

            function hide(){
                var x = document.getElementById("addFriend");
                if (x.style.display === "none") {
                  x.style.display = "block";
                } else {
                  x.style.display = "none";
                }
            }
        </script>
    </body>
</html>