<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Friends</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#7952b3" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header mobile-center">
                        <button class="openbtn mobile" onclick="openNav()">☰</button>
                        <h3 class="logo" href="#">FOREVER FIT</h3>
                    </div>
                    <ul class="nav navbar-nav laptop">
                        <li><a href="/">Home</a></li>
                        <li><a href="/TrainerSearch">Trainer Search</a></li>
                        <li><a href="/chats">Chats</a></li>
                        <li><a href="/TrainingSessions">Sessions</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right laptop">
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr class="header-hr"/>
        </header>

        <main>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/SignUp">Home</a>
                <a href="TrainerSearch">Trainer Search</a>
                <a href="/chats">Chats</a>
                <a href="/TrainingSessions">Sessions</a>
                <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>

            </div>
            <div class="friend-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="row">
                    <p onclick="hide()" type="button" class="btn btn-primary small friend-btn">
                        + Add Friend
                    </p>

                    <div class="dropdown">
                        <p class="btn btn-primary dropdown-toggle small friend-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-chevron-down" style="font-size: 15px;"></i>
                            Friend Requests
                        </p>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                            {% if requests %}
                                {% for request in requests %}
                                    <div class="dropdown-item small" href="#">
                                        {{request.requester_fname}} {{request.requester_lname}}
                                        <div class="friend-request">
                                            <a href="friend_accept/{{request.requester}}"class="btn btn-primary dropdown-toggle">
                                                &#10003;
                                            </a>
                                            <a href="friend_deny/{{request.requester}}" class="btn btn-primary dropdown-toggle">
                                                X
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="small">No new friend requests</p>
                            {% endif %}
                            
                        </div>
                      </div>
                </div>

                <div id="addFriend" class="addFriend" style="display: none;">
                    <hr>
                    <form method="post">
                        <div for="uname" class="big">Add friend by username</div>
                        <input type="text" placeholder="Enter firstname" name="uname" required />

                        <button type="submit" class="request">SEND</button>
                    </form>
                </div>

                <div class="big" style="margin-top: 25px;">Track your friends progress</div>
                <hr>

                <table>
                    <tr class="top-table">
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Sessions</th>
                    </tr>
                    {% if friends %}
                        {%for friend in friends%}
                            <tr>
                                <td class="count"></td>
                                <td>
                                {% if friend.username_1 == current_user.username %}
                                    {{friend.user2_fname}} {{friend.user2_lname}}
                                {% else %}
                                    {{friend.user1_fname}} {{friend.user1_lname}}
                                {% endif %}
                                </td>
                                <td>4</td>
                            </tr>
                        {%endfor%}
                    {%else%}
                        <td></td>
                        <td>You have no friends add some through friend search</td>
                        <td></td>
                    {%endif%}
                    <tr class="bottom-table">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </main>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }

            function hide(){
                var x = document.getElementById("addFriend");
                if (x.style.display === "none") {
                  x.style.display = "initial";
                } else {
                  x.style.display = "none";
                }
            }

            x = document.getElementsByClassName('count')
        
            for (i = 0; i < x.length; i++){
                x[i].innerHTML = i + 1;
            }
        </script>
    </body>
</html>