<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#7952b3" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header mobile-center">
                        <button class="openbtn mobile" onclick="openNav()">☰</button>
                        <h3 class="logo" href="#">FOREVER FIT</h3>
                    </div>
                    <ul class="nav navbar-nav laptop">
                        <li><a href="/TrainerSearch">Trainer Search</a></li>
                        <li><a href="/Friends">Friends</a></li>
                        <li><a href="/chats">Chats</a></li>
                        <li><a href="/TrainingSessions">Sessions</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right laptop">
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr class="header-hr"/>
        </header>

        <main>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/TrainerSearch">Trainer Search</a>
                <a href="/Friends">Friends</a>
                <a href="/chats">Chats</a>
                <a href="/TrainingSessions">Sessions</a>
                <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
            </div>
            <div class=" widget-holder">
                <div class="widget">
                    <div class="big">Upcoming Sessions</div>
                    <hr>
                    <div class="small">You have no upcoming sessions, book one with one of our trainers</div>
                    <br>
                    <a href="/TrainerSearch" class="btn btn-primary active btn-right" role="button">Trainer Search</a>
                </div>
                <div class="widget">
                    <div class="big">Recent Chats</div>
                    <hr>
                    {% if recent_rooms %}
                        <div class="flex-row">
                            {% for rooms in recent_rooms %}
                                <div class="home-trainer2">
                                    <p class="small">{{rooms.trainer_fname}} {{rooms.trainer_lname}}</p>
                                    <a href="/chat/{{rooms.trainer_username}}" class="btn btn-primary active btn-right" role="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                        </svg>
                                        Message
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="small">No recent chats, pair up with a trainer and start a chat with them</div>
                        <br>
                        <a href="/TrainerSearch" class="btn btn-primary active btn-right" role="button">Trainer Search</a>
                    {%endif%}
                </div>
            </div>
            <div class="widget-holder">
                <div class="widget">
                    <div class="big">Friends</div>
                    <hr>
                    <table>
                        <tr class="top-table">
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Sessions</th>
                        </tr>
                        {% if friends %}
                            {%for friend in friends%}
                                <tr>
                                    <td class="count"></td>
                                    
                                    <td>
                                    {% if friend.username_1 == current_user.username %}
                                        {{friend.user2_fname}} {{friend.user2_lname}}
                                    {% else %}
                                        {{friend.user1_fname}} {{friend.user1_lname}}
                                    {% endif %}
                                    </td>
                                    <td>4</td>
                                    
                                </tr>
                            {%endfor%}
                        {%else%}
                            <td></td>
                            <td>You have no friends add some through friend search</td>
                            <td><a class="btn btn-primary active btn-right">Friends</a></td>
                        {%endif%}
                        <tr class="bottom-table">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }

            x = document.getElementsByClassName('count')
        
            for (i = 0; i < x.length; i++){
                x[i].innerHTML = i + 1;
            }
        </script>
    </body>
</html>