<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log In</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#7952b3" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header mobile-center">
                        <button class="openbtn mobile" onclick="openNav()">☰</button>
                        <h3 class="logo" href="#">FOREVER FIT</h3>
                    </div>
                    <ul class="nav navbar-nav laptop">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right laptop">
                        <li>
                            <a href="/SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr class="header-hr"/>
        </header>

        <main>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/">Home</a>
                <a href="/">About Us</a></
                <a href="/SignUp">Sign Up</a>
            </div>
            <div class="sign-up-sheet">
                <h1 style="margin-top: 0;">Login</h1>
                <hr/>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div style="border-radius: 5px; background-color: #e54b4b; padding-top: 5px; 
                                    padding-bottom: 3px; width: 200px; margin-bottom: 20px; 
                                    display:flex; justify-content: center;">
                        {% for message in messages %}
                            <p style="color: white;">{{ message }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form method="post">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter username" name="username" required />

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required />

                    <div class="clearfix">
                        <button onclick="window.location='/'" class="cancelbtn">Cancel</button>
                        <button type="submit" class="signupbtn" >Log In</button>
                    </div>
                </form>
            </div>
        </main>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>
    </body>
</html>