<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Book Session</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#7952b3" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
        

    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header mobile-center">
                        <button class="openbtn mobile" onclick="openNav()">☰</button>
                        <h3 class="logo" href="#">FOREVER FIT</h3>
                    </div>
                    <ul class="nav navbar-nav laptop">
                        <li><a href="/">Home</a></li>
                        <li><a href="/TrainerSearch">Trainer Search</a></li>
                        <li><a href="/Friends">Friends</a></li>                
                        <li><a href="/chats">Chats</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right laptop">
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr class="header-hr"/>
        </header>

        <main>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/SignUp">Home</a>
                <a href="#">Trainer Search</a>
                <a href="/Friends">Friends</a>
                <a href="/chats">Chats</a>
                <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
            </div> 
            
            <div class="sign-up-sheet">
                <p class="big">Review {{trainer.fname}}</p>
                <hr>
                <form method="post">
                    <br>
                    
                    <p class="small">Rate Abdelrahman:</p>
                    <br>
                    <div class="row3">
                        <span class="glyphicon glyphicon-thumbs-down"></span></p>
                        <input name="rating"type="range" min="1" max="5" value="3" class="slider" id="rating" style="width: 80%" required>
                        <span class="glyphicon glyphicon-thumbs-up"></span></p>
                    </div>
                    <br>
                    <br>
                    <label for="fname" class="small">Comment (max 180 char):</label>
                    <textarea name="comment" id="comment" rows="4" cols="50" style="width: 100%;" maxlength="180" required></textarea>
                    <br>
                    <br>
                    <br>
                    <div class="center-btn">
                        <button type="submit" class="signupbtn">Post</button>
                    </div>
                    
                </form>
            </div>
        </main>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            if(dd<10){
                dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 
            
            
            today = yyyy+'-'+mm+'-'+dd;
            console.log(today)
            document.getElementById("date").setAttribute("min", today);
        </script>
    </body>
</html>