<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#7952b3" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header mobile-center">
                        <button class="openbtn mobile" onclick="openNav()">☰</button>
                        <h3 class="logo" href="#">FOREVER FIT</h3>
                    </div>
                    <ul class="nav navbar-nav laptop">
                        <li><a href="/">Home</a></li>
                        {% if (not current_user.isTrainer) %}
                            <li><a href="/TrainerSearch">Trainer Search</a></li>
                            <li><a href="/Friends">Friends</a></li>                
                        {% endif %}
                        <li><a href="/chats">Chats</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right laptop">
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr class="header-hr"/>
        </header>

        <main>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/SignUp">Home</a>
                <a href="#">Trainer Search</a>
                <a href="/Friends">Friends</a>
                <a href="/chats">Chats</a>
            </div>
            <div class=" friend-body">
                <div class="widget" style="height: 220px; width:100%; margin-bottom: 30px;">
                    <div class="big">Upcoming Sessions</div>
                    <hr>
                    <div class="small">You have no upcoming sessions, book one with one of the trainers below</div>
                    <br>
                </div>

                <div class="widget" style="width: 100%;">
                    {% if current_user.isTrainer %}
                        <div class="big">Your Clients</div>
                    {% else %}
                        <div class="big">Your Trainers</div>
                    {% endif %}
                    <hr>
            
                    <ul class="hs" style="padding-left: 0px;">
                        {% if current_user.isTrainer %}
                            {% for room in rooms %}
                                <li class="items home-trainer flex-column">
                                    <p class="small">{{room.trainee_fname}} {{room.trainee_lname}}</p>
                                    <a href="/chat/{{room.trainee_username}}" class="btn btn-primary active btn-right" role="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                        </svg>
                                        Message
                                    </a>  
                                    <a href="/chat/{{room.trainer_username}}" class="btn btn-primary active btn-right" role="button">
                                        Book Session
                                    </a>    
                                </li>
                            {% endfor %}
                        {% else %}
                            {% for trainer in trainers %}
                                <li class="items home-trainer flex-column">
                                    <p class="small">{{trainer.trainer_fname}} {{trainer.trainer_lname}}</p>
                                    <hr>
                                    <a href="/chat/{{trainer.trainer_username}}" class="btn btn-primary active btn-right" role="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                        </svg>
                                        Message
                                    </a>  
                                    <a href="/chat/{{trainer.trainer_username}}" class="btn btn-primary active btn-right" role="button">
                                        Book Session
                                    </a>    
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </main>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>
    </body>
</html>