<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chats</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#7952b3" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />
        <link rel="stylesheet" href="../static/chatbox.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />      
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header mobile-center">
                        <button class="openbtn mobile" onclick="openNav()">☰</button>
                        <h3 class="logo" href="#">FOREVER FIT</h3>
                    </div>
                    <ul class="nav navbar-nav laptop">
                        <li><a href="/Home">Home</a></li>
                        <li><a href="/chats">Chats</a></li>
                 
                    </ul>
                    <ul class="nav navbar-nav navbar-right laptop">
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr class="header-hr"/>
        </header>

        <main style="padding-top:10px">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/Home">Home</a>
                <a href="/chats">Chats</a>
            
                <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
            </div>
            <p onclick="openChats()" class="big chat-btn">Chats</p>
            <div class="chatbox">
                
                <div class="rooms" id="rooms">
                    {% for room in rooms %}
                        {% if room.trainee_username == curr_room.trainee_username %}
                            <a id="select-room" href="{{room.trainee_username}}" room_id="{{room.id}}" class="room highlight">
                                {{room.trainee_fname}} {{room.trainee_lname}}
                            </a>
                        {% else %}
                            <a id="select-room" href="{{room.trainee_username}}" room_id="{{room.id}}" class="room">
                                {{room.trainee_fname}} {{room.trainee_lname}}
                            </a>
                        {% endif %}
                    {% endfor %}
                    <a id="curr_room" style="display: none;">{{curr_room.trainee_username}}</a>
                </div>

                <p style="display: none;" id="username">{{uname}}</p>
                <p style="display: none;" id="curr_uname">{{curr_uname}}</p>
                <p style="display: none;" id="curr_fname">{{curr_fname}}</p>
                <p style="display: none;" id="curr_lname">{{curr_lname}}</p>
                <p style="display: none;" id="curr_room_id">{{curr_room.id}}</p>
                <script type = "text/javascript">
                    var uname = document.getElementById('username').innerText
                    
                    const curr_uname = document.getElementById('curr_uname').innerText
              
                    const curr_fname = document.getElementById('curr_fname').innerText
               
                    const curr_lname = document.getElementById('curr_lname').innerText
                </script>
                
                <div class="chat">
                    <div class="chat_container big">
                        <img src="../static/images/profile-picture.jpeg" alt="ProfilePicture" class="profile-picture">
                        {{curr_room.trainee_fname}} {{curr_room.trainee_lname}}
                        {% if partnership %}
                            <p class="small">✓ Your Client</p>
                        {% endif %}
                    </div>
                    <div id="chat_scroll" class="chat-holder">
                        <div id="chat_history">
                            
                            {% for msg in messages %}
                                
                                <div class="chat_container">
                                    
                                    <p>{{msg.fname}} {{msg.lname}}</p>

                                    <hr>
                                   
                                    <p>{{msg.message}}</p>
                                    <span class="time-right">{{msg.date_sent}}</span>
                                    
                                </div>

                            {% endfor %}

                        </div>
                        <div id="display_message_section">

                        </div>
                    </div>

                    <div class="input-area">
                        <div class="flex-row">
                            <input type="text" id="user_message" placeholder="Type Here" autocomplete="off">
                            <button type="button" id="send_message">SEND</button>
                        </div>
                    </div>
                </div>

                <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
                
            </div>
            <script src="/static/js/socketio.js"></script>
            <script src="/static/js/chat_page.js"></script>
        </main>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }

            function openChats() {
                if (document.getElementById("rooms").style.display === 'none'){
                    document.getElementById("rooms").style.display = 'flex';
                }else{
                    document.getElementById("rooms").style.display ='none';
                }
            }
            
        </script>
    </body>
</html>