<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#7952b3" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/main.css" />
        <link rel="stylesheet" href="../static/dropdown.css" />
        <script src="../static/js/dropdown.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;">
                <div class="container-fluid">
                    
                    <div class="navbar-header mobile-center">
                        <button class="openbtn mobile" onclick="openNav()">☰</button>
                        <h3 class="logo" href="#">FOREVER FIT</h3>
                    </div>
                    <ul class="nav navbar-nav laptop">
                        <li><a href="/">Home</a></li>
                        <li><a href="/Friends">Friends</a></li>
                        <li><a href="/chats">Chats</a></li>
                        <li><a href="/TrainingSessions">Sessions</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right laptop">
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
            <hr class="header-hr"/>
        </header>

        <main>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/SignUp">Home</a>
                <a href="/Friends">Friends</a>
                <a href="/chats">Chats</a>
                <a href="/TrainingSessions">Sessions</a>
                <a href="/logout">Log Out</a>
            </div>

            <!--
            <form method="post" class="t-options">
                <div class="trainer-options">
                    <div class="f-column tgoals">
                        <label>Filter By Training Goals</label>
                        <select id="myMulti" name="fitness-goals" size="7" multiple>
                            <option value="Strength">Strength</option>
                            <option value="Endurance">Endurance</option>
                            <option value="Mobility">Mobility</option>
                            <option value="Combat-Sports">Combat-Sports</option>
                            <option value="Balance">Balance</option>
                            <option value="Weight-Loss">Weight-Loss</option>
                            <option value="weight-Gain">Weight-Gain</option>
                        </select>
                    </div>
                    
                    <div class="f-column">
                        <label for="sortby" style="margin-bottom: 9px;">Sort By:</label>
                            <select id="sortby" name="sortby" style="color: black; height:50px;">
                              <option value="none">None</option>
                              <option value="volvo">Rating</option>
                              <option value="saab">Amount of reviews</option>
                              <option value="opel">Date Joined (oldest to newest)</option>
                              <option value="opel">Date Joined (newest to oldest)</option>
                            </select>
                    </div>    
                </div>
                <div class="filter-div">
                    <a class="filter" onclick="trainerSearch()">Apply Filter</a>
                </div>
                <hr>
                <input id="goals" type="goals" name="goals" style="display: none;"/>
            </form>
            -->
            {% if recommendations %}
            
                <div class="trainer-holder" style="margin-top: 30px;">
                    <p class="small">Here are some recommendations based on your previous Ratings</p>
                    <hr style="width: 100%;">
                    {% for trainer in recommendations %}
                    <div class="trainer-widget" onclick="window.location='/TrainerProfile/{{trainer.username}}'">
                        <div class="trainer-image">
                            <img src="../static/images/profile-picture.jpeg" alt="ProfilePicture" class="profile-picture">
                        </div>
                        <div class="flex-column">
                            <div class = "trainer-info">
                                <div class="trainer-name big">
                                    <p>{{ trainer.fname }} {{ trainer.lname }}</p>
                                </div>
                                <hr style="width: 100%; margin-top: 5px; margin-bottom:5px" class="highlighted">
                                <div class="small trainer-details">
                                    <p>DOB: {{ trainer.dob }}</p>
                                    <p>Training Areas: {{ trainer.fitnessGoals }}</p>
                                    <p>Rating: 
                                        {% for rating in range(0,trainer.rating) %}
                                            <span class="fa fa-star checked"></span>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            <div class="message-button">
                                <a href="/chat/{{trainer.username}}" class="btn btn-primary active mbtn" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                    </svg>
                                    Message
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                    <hr style="width: 100%;">
                </div>

            {% endif %}
            <div class="trainer-holder" style="margin-top: 30px;">
                {% if trainers %}
                {% for trainer in trainers %}
                <div class="trainer-widget" onclick="window.location='/TrainerProfile/{{trainer.username}}'">
                    <div class="trainer-image">
                        <img src="../static/images/profile-picture.jpeg" alt="ProfilePicture" class="profile-picture">
                    </div>
                    <div class="flex-column">
                        <div class = "trainer-info">
                            <div class="trainer-name big">
                                <p>{{ trainer.fname }} {{ trainer.lname }}</p>
                            </div>
                            <hr style="width: 100%; margin-top: 5px; margin-bottom:5px">
                            <div class="small trainer-details">
                                <p>DOB: {{ trainer.dob }}</p>
                                <p>Training Areas: {{ trainer.fitnessGoals }}</p>
                                <p>Rating: 
                                    {% for rating in range(0,trainer.rating) %}
                                        <span class="fa fa-star checked"></span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <div class="message-button">
                            <a href="/chat/{{trainer.username}}" class="btn btn-primary active mbtn" role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                                Message
                            </a>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="big" style="margin-top: 30px;">There are no registered trainers at the moment</p>
                {% endif %}
            </div>
            
        </main>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
            
            var myDrop = new drop({
                selector: "#myMulti",
            });

            var fitnessGoals = new Array();

            function addGoal(elmnt){
                fitnessGoals.push(elmnt.innerText);
                fitnessGoals.sort();
                console.log(fitnessGoals);
            }

            function removeGoal(elmnt){
                console.log((elmnt.innerText.slice(0, -2)));
                for (i = 0; i < fitnessGoals.length; i++){
                    if(fitnessGoals[i]===elmnt.innerText.slice(0, -2)){
                        delete fitnessGoals[i]
                    }
                }
                fitnessGoals = fitnessGoals.filter(value => Object.keys(value).length !== 0);
                console.log(fitnessGoals);
                
            }

            setInterval(function(){
                document.getElementById('goals').value=fitnessGoals.toString();
                console.log(fitnessGoals.toString());
            },
            500);

            function trainerSearch() {
                if (fitnessGoals.length == 0) {
                    window.location='/TrainerSearch/filter=None&sort=None';
                    
                } else {
                    var location = '/TrainerSearch/filter=';
                    var filter = fitnessGoals.toString();
                    var sort = '&sort=None'
                    window.location = location.concat(filter,sort);
                }
            }
            
        </script>
    </body>
</html>